@import url("../../globalStyles/App.css");


.GalleriaContainer{
    width: 100%;
    height: auto;
    max-width: var(--MaxW);
}
.imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.imgs .firstImageContainer{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
}
.firstImage{
    height: 100%;
    width: 100%;
    position: relative;
}
.firstImage img{
    height: 100%;
    width: 100%;
}
.firstImage div{
    position: absolute;
    bottom: 0;
    left: 0;
}

.imgs .OtherImagesContainer{
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 2px 0px 2px;
}
.OtherImages img{
    height: 100%;
    width: 100%;
    padding: 1px;
}
.OtherImages{
    height: 100%;
    width: 100%;
    position: relative;
}
.OtherImages div{
    position: absolute;
    bottom: 0;
    left: 0;
}

.infoImg{
    display: flex;
    width: 80%;
    height: 11%; 
    position: relative;
    margin-left: 1px;
    margin-bottom: 0.5px;
}
.infoImg .backBtnImg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 46%);
    backdrop-filter: blur(13px);
}
.infoImageContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.infoImageContainer p{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--subTitle);
    color: var(--Lprimary);
    font-size: calc(7px + 0.3vw);
    border-right: 1px solid var(--Lprimary);
}
.infoImageContainer button{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--subTitle);
    color: var(--Lprimary);
    font-size: calc(7px + 0.3vw);
    border: none;
    background:none;
    gap: 10px;
}
.infoImageContainer button:hover{
    font-weight: var(--title);
    font-size: calc(10px + 0.4vw);
}
.infoImageContainer button:active{
    background-color: white;
}


@media (max-width:800px) {
    .imgs{
        display: flex;
        flex-direction: column;
    }
}