@import url("../../globalStyles/App.css");

/*Section Seacrh*/
.HomeContainer{
    height: 100vh;
    padding-top: 70px;
    position: relative;
    min-width: var(--MinW);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.SecSeacrh{
    height: auto;
    width: 100vw;
    background: var(--primary);
    min-width: var(--MinW);
    margin-bottom: 7px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.part1{
    height: 70vh;
    width: 100%;
    max-width: var(--MaxW);
}
.part2{
    height: auto;
    max-width: var(--MaxW);
    padding-bottom: 60px;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.ImgBack{
    width: 100%;
    height: 70%;
    position: absolute;
    background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.50)),url("../../../resources/Backs/Back1.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 190% 69%, 0% 100%);
    z-index: 1;
}
.ContentInfo{
    position: relative;
    height: 70%;
    max-width: var(--MaxW);
}
.PositionAInfo{
    z-index: 2;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-self: center;
    align-items: center;
}
.InfoContainer{
    width: var(--MarginValue);
    height: 100%;
    max-width: var(--MaxW);
    margin-top: 80px;
}
.lettersContainer{
    color: var(--Lterceary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
.lettersContainer h1{
    max-width: 700px;
    font-size: calc(22px + 0.5vw);
    font-weight: var(--title);
}
.lettersContainer span{
    font-size: calc(14px + 0.5vw);
}

.ImgBackSecond{
    max-width: 400px;
    max-height: 400px;
    width: calc(100px + 50vw);
    height: calc(100px + 50vw);
    border-radius: 50%;
    background-image: url("../../../resources/Varios/ImgHomeSecSearch.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    right: -100px;
    top: -10px;
    rotate: 30deg;
}
.FormasDePago{
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-self: center;
}

@media (max-width:760px) {
    .ImgBackSecond{
        max-width: 300px;
        max-height: 300px;
        right: -51px;
        top: 196px;
        rotate: 30deg;
        width: calc(30px + 50vw);
        height: calc(30px + 50vw);
    }
}
/*End Section Seacrh*/

/*Section Aliados*/
.SecAliados{
    width: 100vw;
    height: auto;
    min-width: var(--MinW);
    background: var(--secundary);
    margin-top: 10px;
}
.SecAliadosInfoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 30px 0px;
    position: relative;
    min-width: var(--MinW);
}
.SecAliadosInfo{
    width: var(--MarginValue);
}
.SecAliadosLetters{
    display: flex;
    flex-direction: column;
    color: var(--Lprimary);

} 
.SecAliadosLetters h2{
    font-size: calc(12px + 0.5vw);
}
.SecAliadosLetters span{
    font-size: calc(10px + 0.5vw);
    margin-top: 10px;
}
.SecAliadosCompanies{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}
.SecAliadosButtonContainer{
    position: absolute;
    bottom: -1000;
    width:  var(--MarginValue);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.SecAliadosButtonContainer button{
    border: none;
    background: none;
    background-color: var(--primary);
    color: var(--Lprimary);
    width: auto;
    height: 40px;
    font-size: 16px;
    font-weight: var(--subTitle);
    border: 4px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    padding: 10px;
}
.SecAliadosBtn{
    transition: 0.3s;
}
.SecAliadosBtn:hover{
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--OtherSecundary);
}

/*End Section Aliados*/

/*Section Comentarios*/

.SecComentarios{
    width: 100%;
    padding-top: 40px;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    color: var(--Lprimary);
    min-width: var(--MinW);
    max-width: var(--MaxW);
}
.SecComentariosContainer{
    width:  var(--MarginValue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    align-items: center;
    min-width: var(--MinW);

}
.SecComentariosInfo{
    padding: 30px 0px 30px 0px;
    display: flex;
    width:  var(--MarginValue);
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.SecComentariosContainer hr{
    width: 100%;
    height: 8px;
    border: none;
    background: rgb(134, 134, 134);
}
.SecComentariosTitle{
    padding-bottom: 20px;
    font-size: calc(12px + 0.5vw);

}
.SecComentariosTitle h2{
    font-weight: var(--title);
}
/*End Section Comentarios*/

/*Section Destinos mas visitados*/
.SecDestinosMasVistados{
    width: 100%;
    padding-top: 10px;
    height: auto;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
    max-width: var(--MaxW);
}
.SecDestinosMasVistadosContainer{
    width:  var(--MarginValue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    align-items: center;
    min-width: var(--MinW);
}
.SecDestinosMasVistadosTitle{
    font-size: calc(14px + 0.5vw);
    text-align: center;
    color: var(--Lprimary);
    margin-bottom: 20px;
}
.SecDestinosMasVistadosTitle h2{
    font-weight: var(--title);
}
.GalleryContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
}
/*End Section Destinos mas visitados*/

/*Section InfoSeguridad*/

.SecInfoSeguridad{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
    max-width: var(--MaxW);
}
.SecInfoSeguridadContainer{
    width:   var(--MarginValue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    align-items: center;
    min-width: var(--MinW);
}
.BackSecInfoSeguridadContainer{
    position: absolute;
    width: 200vw;
    height: 65%;
    background-color: #00408A;
    z-index: 0;
    transform: rotate(175deg);
    bottom: 0;
}
.InfoSeguridad{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IlustracionSeguridadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40%;
}
.IlustracionSeguridadContainer img{
    width: 100%;
    min-width: 300px;
    max-width: 500px;
}
.TextSeguridad{
    width: 50%;
    min-width: 240px;
    text-align: start;
    max-width: 500px;
    margin-top: 85px;
}
.TextSeguridad h3{
    font-size: calc(20px + 0.6vw);
    color: white;
}
.TextSeguridad p{
    font-size: calc(15px + 0.6vw);
    margin-left: 20px;
    margin-top: 14px;
    color: #A79BFF;
}

@media (max-width:800px) {
    .InfoSeguridad{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .TextSeguridad{
        min-width: none;
        margin-top: 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
    }
    .TextSeguridad p{
        margin: none;
    }
    .TextSeguridad h3{
        font-size: calc(20px + 0.6vw);
    }
}
/*End Section InfoSeguridad*/

/*Section MoreInfo*/

.SecMoreInfo{
    width: 100%;
    padding-top: 80px;
    height: auto;
    padding-bottom: 150px;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
    max-width: var(--MaxW);
}
.SecMoreInfoContainer{
    width: var(--MarginValue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px; 
    position: relative;
    align-items: center;
    min-width: var(--MinW);
}
/*End Section MoreInfo*/

/*Section Experiencia*/
.SecExperiencia{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
    max-width: var(--MaxW);
    position: relative;
}
.BackSecExperiencia{
    position: absolute;
    height: 200%;
    width: 100vw;
    background-color: rgb(43, 43, 43);
    z-index: -1;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    top: -200px;
}
.SecExperienciaContainer{
    width: var(--MarginValue);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 60px 0px 60px 0px;
    position: relative;
    min-width: var(--MinW);
}

.ExperienciaTitle{
    font-size: 25px;
    color: white;
    width: 100%;
    position: relative;
}
.ImgExperiencia{
    background-image: url(http://localhost:3000/static/media/5138237-removebg-preview.a42585b82026f54b06a9.png);
    width: 679px;
    height: 525px;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    top: -223px;
    z-index: -1;
}
.ExperienciaListContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}
.ExperienciaListContent{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ExperienciaListContent hr{
    height: 3px;
    border: none;
    background-color: white;
}
.ListContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ListContent div{
    color: black;
    background-color: var(--secundary);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 35px;
}
.ListContent span{
    width: 100%;
    color: white ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    gap: 20px;
    font-weight: 600;
    
}
.ListContent span i{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 30px;
}
/*End Section Experiencia*/

/*Footer*/
.footerHomeContainer{
    width: 100vw;
    height: auto;
    padding-bottom: 50px;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.footerHome{
    width:  var(--MarginValue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    align-items: center;
    min-width: var(--MinW);
    max-width: var(--MaxW);
}

/*End Footer*/