@import url("../../globalStyles/App.css");

/*Section Seacrh*/
.HomeContainer{
    height: 100vh;
    padding-top: 70px;
    position: relative;
    min-width: var(--MinW);
}
.SecSeacrh{
    height: auto;
    width: 100vw;
    background: var(--primary);
    min-width: var(--MinW);
    margin-bottom: 115px;
}
.part1{
    height: 70vh;
    max-width: var(--MaxW);
}
.part2{
    height: auto;
    max-width: var(--MaxW);
    padding-bottom: 60px;
}
.ImgBack{
    width: 100%;
    height: 70%;
    position: absolute;
    background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.50)),url("../../../resources/Backs/Back1.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 69%, 0% 100%);
    z-index: 1;
}
.ContentInfo{
    position: relative;
    height: 70%;
    width: 100%;
}
.PositionAInfo{
    z-index: 2;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-self: center;
    align-items: center;
}
.InfoContainer{
    width: 85%;
    height: 100%;
    max-width: var(--MaxW);
    margin-top: 50px;
}
.lettersContainer{
    color: var(--Lterceary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
.lettersContainer h1{
    max-width: 700px;
    font-size: calc(22px + 0.5vw);
    font-weight: var(--title);
}
.lettersContainer span{
    font-size: calc(14px + 0.5vw);
}

.ImgBackSecond{
    max-width: 400px;
    max-height: 400px;
    width: calc(100px + 50vw);
    height: calc(100px + 50vw);
    border-radius: 50%;
    background-image: url("../../../resources/Varios/ImgHomeSecSearch.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    right: -100px;
    top: -10px;
    rotate: 30deg;
}
.FormasDePago{
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-self: center;
}

@media (max-width:760px) {
    .ImgBackSecond{
        max-width: 300px;
        max-height: 300px;
        right: -51px;
        top: 196px;
        rotate: 30deg;
        width: calc(30px + 50vw);
        height: calc(30px + 50vw);
    }
}
/*End Section Seacrh*/

/*Section Aliados*/
.SecAliados{
    width: 100%;
    padding-top: 20px;
    height: auto;
    padding-bottom: 50px;
    min-width: var(--MinW);
}
.SecAliadosInfoContainer{
    width: 100%;
    background: var(--secundary);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    min-width: var(--MinW);
}
.SecAliadosInfo{
    width: 85%;
}
.SecAliadosLetters{
    display: flex;
    flex-direction: column;
    color: var(--Lprimary);

} 
.SecAliadosLetters h2{
    font-size: calc(12px + 0.5vw);
}
.SecAliadosLetters span{
    font-size: calc(10px + 0.5vw);
    margin-top: 10px;
}
.SecAliadosCompanies{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}
.SecAliadosButtonContainer{
    position: absolute;
    bottom: -15px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.SecAliadosButtonContainer button{
    border: none;
    background: none;
    background-color: var(--OtherPrimary);
    color: var(--Lprimary);
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: var(--subTitle);
    border: 4px solid white;
    border-radius: 15px;
}

/*End Section Aliados*/

/*Section Comentarios*/

.SecComentarios{
    width: 100%;
    padding-top: 40px;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    color: var(--Lprimary);
    min-width: var(--MinW);
}
.SecComentariosContainer{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    align-items: center;
    min-width: var(--MinW);

}
.SecComentariosInfo{
    padding: 30px 0px 30px 0px;
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.SecComentariosContainer hr{
    width: 85%;
    height: 8px;
    border: none;
    background: rgb(134, 134, 134);
}
.SecComentariosTitle{
    padding-bottom: 20px;
    font-size: calc(12px + 0.5vw);
}
/*End Section Comentarios*/

/*Section Destinos mas visitados*/
.SecDestinosMasVistados{
    width: 100%;
    padding-top: 10px;
    height: auto;
    padding-bottom: 50px;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
}
.SecDestinosMasVistadosContainer{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    align-items: center;
    min-width: var(--MinW);
}
.SecDestinosMasVistadosTitle{
    font-size: calc(14px + 0.5vw);
    text-align: center;
    color: var(--Lprimary);
    margin-bottom: 20px;
}
.GalleryContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
}
/*End Section Destinos mas visitados*/

/*Section InfoSeguridad*/

.SecInfoSeguridad{
    width: 100%;
    padding-top: 201px;
    height: auto;
    padding-bottom: 50px;
    min-width: var(--MinW);
    display: flex;
    justify-content: center;
}
.SecInfoSeguridadContainer{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px 60px 0px;
    position: relative;
    align-items: center;
    min-width: var(--MinW);
}
.BackSecInfoSeguridadContainer{
    position: absolute;
    width: 200vw;
    height: 65%;
    background-color: #00408A;
    z-index: 0;
    transform: rotate(175deg);
    bottom: 0;
}
.InfoSeguridad{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IlustracionSeguridadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
}
.IlustracionSeguridadContainer img{
    width: 100%;
    min-width: 300px;
}
.TextSeguridad{
    width: 50%;
    min-width: 200px;
    text-align: start;
    max-width: 500px;
    margin-top: 60px;
}
.TextSeguridad h3{
    font-size: calc(28px + 0.6vw);
    color: white;
}
.TextSeguridad p{
    font-size: calc(18px + 0.6vw);
    margin-left: 20px;
    margin-top: 14px;
    color: #A79BFF;
}

@media (max-width:800px) {
    .InfoSeguridad{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .TextSeguridad{
        min-width: none;
        margin-top: 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
    }
    .TextSeguridad p{
        margin: none;
    }
    .TextSeguridad h3{
        font-size: calc(20px + 0.6vw);
    }
}