@import url("../../globalStyles/App.css");

.NavBox{
    position: absolute;
    z-index: 10;
    left: 0;
    min-width: var(--MinW);
    
}

.NavDesktopConatiner{
    display: flex;
    width: 100vw;
    align-self: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 7px 0px #00000084;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.BtnNavDesktopContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--MaxW);
    
}
.imgContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    padding: 10px 0px 10px 80px;
}
.imgContainer .imgLogTeletiquete{
    width: 200px;
    background-image: url("../../../resources/Logs/Teletiquete/log_teletiqueteSinFondo.png");
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.BtnContainerDesktop{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 80px 10px 0px;
    gap: 8px;
}
.BtnContainerDesktop div:nth-child(1){
    display: flex;
    align-self: flex-end;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.BtnContainerDesktop div:nth-child(2){
    display: flex;
    align-self: flex-end;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.BtnContainerDesktop div:nth-child(2) button{
    border: none;
    background: none;
    font-weight: var(--subTitle);
    color: var(--Lprimary);
    font-size: 14px;
}
.BtnContainerDesktop div:nth-child(2) div:nth-child(2) button{
    width: 153px;
}
.MenuContainer{
    margin-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}
.Menu{
    width: 100%;
    max-width: var(--MaxW);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
    box-shadow: 0px 0px 7px 0px#00000084;
}