@import url("../../globalStyles/App.css");

.InfoFooterContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: black;
    color: white;
    padding: 60px 0px 60px 0px;
    
}
.InfoFooterPartTop{
    width: var(--MarginValue);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    max-width: var(--MaxW);
}
.InfoFooterPartTopContent{
    width: 200px;
}
.InfoFooterPartTop ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.InfoFooterPartTop li{
    cursor: pointer;
}
.InfoFooterPartTop li a{
    color: white !important;
    text-decoration: none;
}
.InfoFooterPartTop li a:focus{
    color: white;
}
.InfoFooterPartTop div:nth-child(1) ul li{
    text-align: center;
}
.InfoFooterPartTop div:nth-child(1) h3{
    text-align: center;
}
.InfoFooterPartTop div:nth-child(2) ul li{
    text-align: center;
}
.InfoFooterPartTop div:nth-child(2) h3{
    text-align: center;
}
.InfoFooterPartTop div:nth-child(3) ul li{
    text-align: center;
}
.InfoFooterPartTop div:nth-child(3) h3{
    text-align: center;
}
.InfoFooterPartTop div{
    margin: 0px 10px 0px 10px;
}
.InfoFooterPartTop ul li:nth-child(1) img{
    text-align: center;
    width: 120px;
}
.InfoFooterPartTop ul li:nth-child(2) img{
    width: 75px;
    border-radius: 50%;
}
.InfoFooterPartTop div h3{
    margin-bottom: 10px;
}





.InfoFooterContainer hr{
    width: var(--MarginValue);
    margin: 15px 0px 15px 0px;
    max-width: var(--MaxW);


}
.InfoFooterPartBot{
    width: var(--MarginValue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.InfoFooterPartBot svg{
   font-size: calc(90px + 0.5vw);
}
.InfoFooterPartBot p{
    font-size: calc(10px + 0.5vw);
}

@media (max-width:640px) {
    .InfoFooterPartTop{
        justify-content: center;
        gap: 30px;
    }
}