@import url("../../globalStyles/App.css");

/* StateOpenBtnContainer  */

.StateOpenBtnContainer{
    position: fixed;
    margin: 0px !important;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 12;
}
.StateOpenBtnContent{
   width: 87%;
   height: auto;
   min-height: 300px;
   max-height: 750px;
   background-color: white;
   overflow-y: scroll;
   gap: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   border-radius: 10px;
   z-index: 100;
}
.StateOpenBtnContent::-webkit-scrollbar{
    display: none;
}
.StateOpenBtn{
    width: 95%;
    height: auto;
    
}

.title{
    
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    font-size: calc(13px + 0.5vw);
    cursor: pointer;
    justify-content: space-between;
    color: var(--Lprimary);
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}
.title span:nth-child(2){
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    padding: 5px;
}
.title:hover span:nth-child(2){
   background-color: var(--OtherSecundary);
   color: black;
}
.content{
    padding: 10px;
    font-size: calc(11px + 0.5vw);
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: var(--Lprimary);
    font-weight: var(--text);
    background-color: var(--secundary);
    border-radius: 10px;
    white-space: pre-wrap;
}
.titleActive{
    background-color: var(--primary);
}


.BackBtnContent{
    position: fixed;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.587);
}


