@import url("../../globalStyles/App.css");
.MenuButtonsConatiner{
    z-index: 10;
    position: fixed;
    bottom: -120px;
    right: -100px;
}
.MenuButtons{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
}



.MenuBtnAction{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border: 2px solid var(--OtherSecundary);
}
.MenuBtnActionActivate{
    transform: rotate(360deg);
}

.MenuContent{
    position: relative;
    width: 50px;
    height: 50px;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    font-size: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0 0 4px rgb(0, 0, 0);
    border-radius: 50%;
}
.MenuContentActivate{
    width: 100%;
    height: 100%;
    font-size: 10px;
}

.ContentContainer{
    list-style: none;
    width: 50%;
    height: 50%;
    display: flex;
}
.ContentContainer{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center ;
    flex-direction: column;
    font-size: 1px;
    font-weight: 600;
    color: white;
}
.ContentContainerActivate{
    align-self: flex-start;
    align-items: flex-start;
    font-size: 16px;
    gap: 30px;
    color: black;

}
.Content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
}
.ContentContainerActivate .iconsMenuButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    transition: 0.5s;
}
.Content:hover .iconsMenuButtons{
     background-color: var(--OtherPrimary);
    border: 1px solid var(--OtherPrimary);

}